 <!--<body class="content">-->
  <div id = "wrapper">
    <header>
    <h1><a href="index.html">LenderBond</h1>
    <link rel="stylesheet" href="\static\messageboard.css">
    </header> 
  
  <nav>
    <ul>
      <!--THESE PAGES YOU SHOULD SEE IF YOU ARE NOT LOGGED IN-->
      <li><a href="index.html">Home</a></li>
      
      <!--THESE PAGES YOU SHOULD SEE IF YOU ARE LOGGED IN-->
      <li><a href=".html">My Profile</a></li>
      <li><a href=".html">Loans</a></li>
      <li><a href="create_loan.html">Create Loan</a></li>
      <li><a href=".html">Logout</a></li> 
    </ul>
   </nav>

<main> 
  {{#if error}}
<div style="background: maroon; color: white;">
 Error Encountered: {{error}}
</div>
<a href="/direct">Back</a>
{{else}}

<form action="/select" method="POST">
See Messages With:
<select name="SelectMessages" id="other">
  {{#each ExportUserNames}}
  <option value="{{.}}">{{.}}</option>
  {{/each}}
  </select>
  <input type="submit" name ="submit" value="Select">
  </form>

<ul>Messages: {{#each ComboArray}} </ul>
<br>
 <li> User: {{this.username}} User ID: {{this.user_id}} Sent to User ID: {{this.Other_User}}  Sent On: {{this.MessageTimestamp}} </li><br>
  <li>{{this.Message}}</li>
  {{/each}}
  <form action="/newdirectmessage" method="POST">
  Send Message To:
  <select name="SelectedUserID" id="users">
  {{#each ExportUserNames}}
  <option value="{{.}}">{{.}}</option>
  {{/each}}
  </select>
  <input type="text" placeholder="New Message" name="message">
  <input type="submit" name ="submit" value="post new message">
  </form>
  {{/if}}
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content-->
        <div class="modal-content">
        <span class="close">&times;</span>
        <p></p>
        <form>
        <button id="myBtn">Submit</button>
        </form>
        </div>
  
    </div>
  
</main>

