
<h2>Message Board</h2>
<h3>Topics</h3>

{{#if error}}
<div style="background: maroon; color: white;">
 Error Encountered: {{error}}
</div>
<a href="/messageboard">Back</a>
{{else}}
<ul>{{#each allThreads}} </ul>
 <li> <a href='/messagetopic?id={{this.MBthred_id}}'>{{this.subjectTitle}} </a> Topic: {{this.threadTopic}} Date: {{this.dateCreated}} </li>
  {{/each}}

  <form action="/newtopic" method="POST">
   New Topic Title:

  <input type="text" placeholder="New Topic" name="newtopic">
  <input type="text" placeholder="First Post" name="newMessage">
  <select name="TopicSubject" id="sel">
  <option value="Bonds">Bonds</option><option value="Loans">Loans</option></select>
  <input type="submit" name ="submit" value="post new topic">
  </form>
  {{/if}}
  